<header class="site-header">
<div class='headercabecalho'>
  <div class='menuheader'>
<div class='menuitem'>
<a href='{{ site.baseurl }}/cadastro/' style='text-decoration:none;color:#fff;text-shadow: 2px 2px 3px #00000080;'>Cadastro</a>
  </div>
<div class='menuitem'>
<a href='{{ site.baseurl }}/sobre/' style='text-decoration:none;color:#fff;text-shadow: 2px 2px 3px #00000080;'>Sobre</a>
  </div>
<div class='menuitem'>
<a href='{{ site.baseurl }}/contato/' style='text-decoration:none;color:#fff;text-shadow: 2px 2px 3px #00000080;'>Contato</a>
  </div>
  </div>
</div>
</header>
