<header class="site-header">
<div class='headercabecalho'>
  <div class='menuheader' id="myTopnav">
<div class='menuitem'>
<a href='{{ site.baseurl }}/cadastro/' style='text-decoration:none;color:#fff;text-shadow: 2px 2px 3px #00000080;'>Cadastro</a>
  </div>
<div class='menuitem'>
<a href='{{ site.baseurl }}/sobre/' style='text-decoration:none;color:#fff;text-shadow: 2px 2px 3px #00000080;'>Sobre</a>
  </div>
<div class='menuitem'>
<a href='{{ site.baseurl }}/contato/' style='text-decoration:none;color:#fff;text-shadow: 2px 2px 3px #00000080;'>Contato</a>
  </div>
<div class='menuitem2'>
<i class="fa"></i>
   </div>
  </div>
</div>
</header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.headercabecalho{width:100%;height:100px;}
.menuheader{padding:2%;font-size:x-large;float:right;display:inline-block;vertical-align:bottom;}
.menuitem{display:inline-block;width:fit-content;color:#fff;text-align:center;margin-left:40px;}
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;}
@media screen and (max-width: 500px) {
.menuitem{display:none;}
}
</style>
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
