<style>
.topnav a {
  vertical-align:middle;
  padding:2%;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: x-large;
}
.topnav {
  float:right;
  width:100%;
  }
.active {
  background-color: #4CAF50;
  color: white;
}
.topnav .icon {
  display: none;
}
  .menunav {display:inline-block;}
  .imagelogo {width:300px;display:inline-block;vertical-align:middle;}
  .imagelogoheader {float:left;}
@media screen and (max-width: 500px) {
  .topnav a{display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
</style>
<div class="menunav">
<a class="imagelogoheader" href='{{ site.url }}'><img alt='Guia Gaúcho Logotipo' class='imagelogo' src='{{ site.url }}/assets/img/images/Guia-Gaucho-logo.png'/></a>
<div class="topnav" id="myTopnav">
  <a href="{{ site.url }}/{{ page.categories }}/" style='text-decoration:none;color:#fff;text-shadow: 2px 2px 3px #00000080;'>Inicio</a>
  <a href="{{ site.baseurl }}/cadastro/" style='text-decoration:none;color:#fff;text-shadow: 2px 2px 3px #00000080;'>Cadastro</a>
  <a href="{{ site.baseurl }}/sobre/" style='text-decoration:none;color:#fff;text-shadow: 2px 2px 3px #00000080;'>Sobre</a>
  <a href="{{ site.baseurl }}/contato/" style='text-decoration:none;color:#fff;text-shadow: 2px 2px 3px #00000080;'>Contato</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunctionNav()">
    <i class="fa fa-bars"></i>
  </a>
</div>
</div>
<script>
function myFunctionNav() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
