body {
  background-image: url(https://i.imgur.com/v0fcWrZ.png);
  background-color: #efefef;
  background-size: 60%;
  background-repeat-y: no-repeat;
  font-family: arial;
  padding: 0px;
  margin: 0px;
}
.postthumb {
  width: 20%;
  display: inline-block;
  padding: 2%;
  vertical-align: top;
}
.tituloedescricao {
  width: 60%;
  padding: 2%;
  display: inline-block;
  vertical-align: top;
}
.tituloedescricao2 {
  width: 96%;
  padding: 2%;
  display: inline-block;
  vertical-align: top;
}
.conteudo {
  width: 70%;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5%;
}
.coluna {
  width: 14.4%;
  padding-left: 5%;
  padding-right: 5%;
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
}
.post-teaser {
  box-shadow: 1px 1px 6px #00000057;
  border-radius: 5px;
}
.post-teaser1 {
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.posts {
  background-color: #fff;
  padding-top: 20px;
  border-radius: 5px;
}
 .headercabecalho {
  width: 100%;
  height: 100px;
  background-color: #00000096;
}
 .imagelogo {
  height: 80%;
  padding-top: 10px;
  padding-left: 20px;
  display: inline-block;
}
 .menuheader {
  width: 70%;
  padding: 21.5px;
  font-size: larger;
  text-align: end;
  display: inline-block;
  vertical-align: top;
}
 .menuitem {
  display: inline-block;
  font-size: larger;
  width: 15%;
  color: #fff;
  text-align: center;
}
.coluna2titulo {
  font-size: larger;
  color: #00ab3a;
  text-align: center;
  display: inline-block;
  width: 14.4%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
}
.conteudotitulo {
  font-size: larger;
  color: #00ab3a;
  text-align: center;
  display: inline-block;
  width: 70%;
  padding-top: 20px;
  padding-left: 5%;
}
.pesquisatermo {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  padding: 0px;
  border-width: 0px;
  border-radius: 2px;
  font-size: larger;
  padding-left: 10px;
  border-radius: 5px;
}
.pesquisatermo2 {
  width: 60%;
  height: 100%;
  display: inline-block;
  box-shadow: 1px 1px 6px #00000057;
}
.pesquisatermo3 {
  width: 100%;
  height: 60px;
  display: inline-block;
  text-align: center;
}
.resultados {
  display: block;
  list-style-type: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  background-color: #00ab3a;
  border-radius: 5px;
  font-size: larger;
}
.searchlink {
  text-decoration: none;
  color: #fff;
}
.searchli {
  padding: 5px;
}
.post-link {
  font-size: larger;
  text-decoration: none;
  color: #00ab3a;
}
.titulopost {
  font-size: larger;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0px;
  font-weight: bold;
  padding-bottom: 10px;
}
.escolhabotao {
  background-color: #00ab3a;
  color: white;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.escolha {
  width: 60%;
}

.escolha-content {
  display: none;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.escolha-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.escolha-content a:hover {background-color: #f1f1f1}

.escolha:hover .escolha-content {
  display: block;
}

.escolha:hover .escolhabotao {
  background-color: #3e8e41;
}
.coluna2 {
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
  display: inline-block;
  vertical-align: bottom;
  padding-bottom: 10px;
}
.coluna2titulo2 {
  font-size: larger;
  color: #00ab3a;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.escolhadiv {
  text-align: center;
  padding-top: 120px;
}
