<!DOCTYPE html>
<html lang="pt-br">
  <head>
  {% include head.html %}
  {% include pagecadastrodescription.html %}
  </head>
  <body style="background-color:#00ab3a;background-image:none;">
<header class="site-header">
<div class="headercabecalho" style="background-color:#00000036">
<a href='{{ site.url }}'><img alt='Guia Gaúcho Logotipo' class='imagelogo' src='{{ site.url }}/assets/img/images/Guia-Gaucho-logo.png'/></a>
<div class='menuheader'>
<div class='menuitem'>
<a href='{{ site.baseurl }}/cadastro/' style='text-decoration:none;color:#fff;'>Cadastro</a>
  </div>
<div class='menuitem'>
<a href='{{ site.baseurl }}/sobre/' style='text-decoration:none;color:#fff;'>Sobre</a>
  </div>
<div class='menuitem'>
<a href='{{ site.baseurl }}/contato/' style='text-decoration:none;color:#fff;'>Contato</a>
  </div>
  </div>
</div>
</header>
<div class="content">
      {{ content }}
    </div>
  </body>
</html>


<!-- FAIXA 1 -->
<div style="background-color:#00ab3a;padding:60px 15% 100px 15%;">
<div style="width:60%;display:inline-block;vertical-align:middle;">
<p style="font-size:40px;color:#fff;margin:0px;">Aumente sua visibilidade online!</p><br/>
<p style="font-size:20px;color:#fff;margin:0px;">Com o Guia Gaúcho você aumenta a visibilidade do seu negócio trazendo diversos beneficios para o mesmo.</p></div>
<div style="width:39%;display:inline-block;vertical-align:middle;"><img src="https://4.bp.blogspot.com/-C-EJui1lJK8/WVbequh_dsI/AAAAAAAAAEA/8wyjRQZGuiQKm7L1DctjpyinTs4i5blCACLcBGAs/s400/localizacao.png" width="100%" /></div>
</div>
<!-- FAIXA 2 -->
<div style="background-color:#fff;padding:20px 15% 20px 15%;">
<div style="width:33%;display:inline-block;vertical-align:top;text-align:center;">
<img src="https://i.imgur.com/LR5OHlP.png" width="100px"/>
<p style="font-size:20px;color:#00ab3a;margin:0px;">Milhões<br/>
de acessos mensais</p>
</div>
<div style="width:33%;display:inline-block;vertical-align:top;text-align:center;">
<img src="https://i.imgur.com/7Y9vcZF.png" width="100px"/>
<p style="font-size:20px;color:#00ab3a;margin:0px;">Marketing<br/>
Gratuito</p>
</div>
<div style="width:33%;display:inline-block;vertical-align:top;text-align:center;">
<img src="https://i.imgur.com/JCL3xsI.png" width="100px"/>
<p style="font-size:20px;color:#00ab3a;margin:0px;">467 cidades do<br/>
Rio Grande do Sul</p>
</div>
</div>
<!-- FAIXA 3 -->
<div style="background-color:#252525;padding:20px 15% 24px 15%;">
<div style="width:60%;display:inline-block;vertical-align:middle;">
<img src="https://i.imgur.com/0P3bF5G.png" width="100%"/>
</div>
<div style="width:39%;display:inline-block;vertical-align:middle;">
<p style="font-size:30px;color:#fff;margin:0px;">O cadastro no Guia Gaúcho proporciona:</p><br/>
<p style="font-size:20px;color:#fff;margin:0px;">- Marketing e divulgação gratuita<br/>
- Aumento na quantidade de clientes<br/>
- Disponibilidade em cidades 467 cidades do Rio Grande do Sul<br/>
- Visibilidade online<br/>
</p>
</div>
</div>
<!-- FAIXA 4 -->
<div style="background-color:#efefef;padding:20px 15% 24px 15%;">
<!-- PLANO GRATIS -->
<div style="width:43%;background-color:#fff;display:inline-block;padding:2%;border:solid 1px #d2d2d2;">
<div style="text-align:center;"><p style="margin:0px;font-size:20px;">Cadastro Básico</p></br>
<p style="margin:0px;font-size:40px;">GRATUITO</p></br>
</div>
<p style="margin:0px;font-size:15px;">Cadastro com logotipo</br>
Endereço e Localização</br>
Número para contato</br></p>
<p style="margin:0px;text-decoration:line-through;font-size:15px;">Destaque de cores</br>
Seção destaque na Cidade</br>
Seção destaque nas categorias</br>
Entre os primeiros resultados da pesquisa</br>
Atendimento privilegiado</br>
Moderação dos comentarios</p>
</div>
<div style="width:3%;display:inline-block;"><br/></div>
<!-- PLANO DESTAQUE -->
<div style="width:43%;background-color:#00ab3a;display:inline-block;padding:2%;border:solid 1px #d2d2d2;">
<div style="text-align:center;"><p style="margin:0px;font-size:20px;color:#fff;">Cadastro Destaque</p></br>
<span style="margin:0px;font-size:40px;color:#fff;">R$10,00</span><span style="margin:0px;font-size:15px;color:#fff;">/mês</span></br></br>
</div>
<p style="margin:0px;font-size:15px;color:#fff;">Cadastro com logotipo</br>
Endereço e Localização</br>
Número para contato</br>
Destaque de cores</br>
Seção destaque na Cidade</br>
Seção destaque nas categorias</br>
Entre os primeiros resultados da pesquisa</br>
Atendimento privilegiado</br>
Moderação dos comentarios</p>
</div>
</div>




     {% include footer.html %}
