---
layout: defaulthome
---
<div class="escolha2">
<div class="escolha">
<h1 class="tituloh1">Lista Telefônica</h1><br/>  
    <div class="row-fluid">
      <select id="menu" class="selectpicker" data-live-search="true" value="teste" onchange="cidade()">
        <option disabled selected>Onde você procura?</option>
        <option value="barao/">Barão</option>
        <option value="rosario-do-sul/">Rosário do Sul</option>
        <option value="santa-cruz-do-sul/">Santa Cruz do Sul</option>
        <option value="santa-maria/">Santa Maria</option>
        <option value="santana-do-livramento/">Santana do Livramento</option>
        <option value="uruguaiana/">Uruguaiana</option>
      </select>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
  <script type="text/javascript">
function cidade()
{
var cidade = document.getElementById("menu").value;
window.location = value;
}
</script>
  
  
</div>
</div>


<h2 class="coluna2titulo2"><b>Anúncio</b></h2>
<div class="coluna2">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- guiagaucholateraldireito -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2816982644079927"
     data-ad-slot="3446139232"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
