---
layout: defaulthome
---
<div class="escolha">
  <button class="escolhabotao">Dropdown</button>
  <div class="escolha-content">
    <a href="uruguaiana/">Uruguaiana</a>
  </div>
</div>


<h2 class="coluna2titulo"><b>Anúncio</b></h2>
<div class="coluna2">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- guiagaucholateraldireito -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2816982644079927"
     data-ad-slot="3446139232"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
