---
layout: default
---
  <h2 class="conteudotitulo"><b>Destaques</b></h2>
<h2 class="coluna2titulo"><b>Anúncio</b></h2>
<div class="conteudo">
  {% if site.theme_settings.header_text %}
  <div id="main" class="call-out"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    {{ site.theme_settings.header_text }}
  </div>
  {% endif %}

  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post-teaser1"><div class="post-teaser">
     
      
      
      <span class="tituloedescricao">
          <header>
            <h1 class="titulopost">
                {{ page.title }}

            </h1>
          </header>
  <section class="post-content">{{ content }}</section>

      </span>
    </div></div>
    {% endfor %}
  </div>
</div>
<div class="coluna">
  Anuncio
</div>
