---
layout: default
---
  <h2 class="conteudotitulo"><b>Destaques</b></h2>
<h2 class="coluna2titulo"><b>Anúncio</b></h2>
<div class="conteudo">
    <div class="posts">
    <div class="post-teaser1"><div class="post-teaser">
<article>
             <img alt="{{ page.title }} Logo" class="postthumb2" src="{{ site.baseurl }}/{{ page.feature-img }}">
      <span class="tituloedescricao2">
    <h1 id="{{ page.title | cgi_escape }}" class="post-link">{{ page.title }}</h1>
  <section class="post-content">{{ content }}</section>
  </span>    
</article>
<div class="fb-comments" data-href="https://www.guiagaucho.com/{{ page.title }}" data-width="100%" data-numposts="5"></div>
  <div class="caixainfodestaque"><div style="display:inline-block;height:20px;"></div></div>
</div>
</div>
</div>
</div>
<div class="coluna">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- guiagaucho -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2816982644079927"
     data-ad-slot="5558915229"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div>
</div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a9c81869d6ba1da"></script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.12&appId=652199881649590&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
