<html>
<head>
</head>
<body>
<script type="text/javascript">

    var postsHREF = [{% for post in site.tags.[page.tag] %}"{{ post.url }}"{% unless forloop.last %},{% endunless %}{% endfor %}];

    var postsTitle = [{% for post in site.tags.[page.tag] %}"{{ post.title }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
	
	var postsMiniatura = [{% for post in site.tags.[page.tag] %}{% if post.thumbnail %}"{{ post.thumbnail }}"{% endif %}{% unless forloop.last %},{% endunless %}{% endfor %}];


</script>





<script type="text/javascript">

    var randomIndexUsed = [];

        var randomIndex;
        var postHREF;
        var postTitle;
        var postMiniatura;

        randomIndex = Math.floor(Math.random() * postsHREF.length);

        if (randomIndexUsed.indexOf(randomIndex) == "-1")
        {
            postHREF = postsHREF[randomIndex];
            postTitle = postsTitle[randomIndex];
            postMiniatura = postsMiniatura[randomIndex];

                document.write('<div class="post-teaser1"><div class="post-teaser"><img class="postthumb" alt="' + postTitle + ' Logo" src="' + postMiniatura + '"<span class="tituloedescricao"><header><h1 class="titulopost"><a class="post-link" href="' + postHREF + '">' + postTitle + '</a></h1></header><div class="excerpt">XXXX</div></span></div></div></div><hr />');

            randomIndexUsed.push(randomIndex);

            counter++;
        }

</script>
</body>
</html>
