<html>
<head>
</head>
<body>
<script type="text/javascript">

    var postsHREF = [{% for post in site.posts %}"{{ post.url }}"{% unless forloop.last %},{% endunless %}{% endfor %}];

    var postsTitle = [{% for post in site.tags.[page.tag] %}<div class="post-teaser1"><div class="post-teaser">{% if post.thumbnail %} <img class="postthumb" alt="{{ post.title }} Logo" src="{{ site.baseurl }}/{{ post.thumbnail }}">{% endif %}<span class="tituloedescricao"><header><h1 class="titulopost"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1></header><div class="excerpt">{{ post.excerpt }}</div></span></div></div>{% endfor %}];
</script>





<script type="text/javascript">

    var randomIndexUsed = [];
    var counter = 0;
    var numberOfPosts = 5;

    while (counter < numberOfPosts)
    {
        var randomIndex;
        var postHREF;
        var postTitle;

        randomIndex = Math.floor(Math.random() * postsHREF.length);

        if (randomIndexUsed.indexOf(randomIndex) == "-1")
        {
            postHREF = postsHREF[randomIndex];
            postTitle = postsTitle[randomIndex];

            if (counter == (numberOfPosts - 1))
            {
                document.write('<p><a href="' + postHREF + '"></a></p>');
            }
            else
            {
                document.write('' + postTitle + '');
            }

            randomIndexUsed.push(randomIndex);

            counter++;
        }
    }

</script>
</body>
</html>
